@keyframes grad {
	0% {
		background-position: 0% 50%;
	}
	25% {
		background-position: 50% 100%;
	}
	50% {
		background-position: 100% 50%;
	}
    75% {
		background-position: 50% 0%;
    }
    100% {
		background-position: 0% 50%;
    }
}

@keyframes loaded {
    0% {
        left: 250%;
    }
}

@keyframes hover {
    0% {
        background-color: aliceblue;
    }
    100% {
        background-color: rgb(189, 255, 189);
    }
}

@keyframes unhover {
    0% {
        background-color: rgb(189, 255, 189);
    }
    100% {
        background-color: aliceblue;
    }
}
body {
    text-align: center;
    overflow: hidden;
    background-size: 400% 400%;
    height: 100vh;
    background-image: linear-gradient(to right,rgb(255, 0, 0), rgb(255, 255, 0), rgb(0,0,255));
    animation-name: grad;
    animation-duration: 120s;
    animation-iteration-count: infinite;
    animation-timing-function: infinite;
    animation-fill-mode: both;
    position: relative;
}



button {
    border-color: rgb(63, 63, 63);
    border-width: 2px;
    width: fit-content;
    height: 40px;
    position: relative;
    vertical-align: middle;
    background-color: aliceblue;
}


#textcontent {
    font-size: 16px;
    width: 50%;
    transform: translateX(50%) translateY(10%);
    position: absolute;
    
}

#doctitle {
    font-size: 40px;
}

.text {
    font-family: monospace;
    position: relative;
    vertical-align: middle;
} 

.text {
    animation-name: loaded;
}